@using Entities.Models;
@model Person
<div>
    <form id="testForm" method="post">
        <fieldset>
            <legend>Please Write Node Value</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.id)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.id)
                @Html.ValidationMessageFor(model => model.id, "Please enter digits", new { @class = "text-info" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "Please enter string", new { @class = "text-info" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Age)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age, "Please enter digits", new { @class = "text-info" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender, "Please enter string", new { @class = "text-info" })
            </div>
            <p></p>
            <p>
                <input type="button" class="btn btn-primary insert" value="Create" id="create" onclick="CreateNode();" />
            </p>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $('input').on('blur', function () {
    //        if ($("#testForm").valid()) {
    //            $('#create').prop('disabled', false);
    //        } else {
    //            $('#create').prop('disabled', 'disabled');
    //        }
    //    });
    //    $("#testForm").validate({
    //        rules: {
    //            Name: {
    //                required: true,
    //                minlength: 2
    //            },
    //            Gender: {
    //                required: true,
    //                minlength: 2
    //            }
    //        }
    //    });
    //});

    function CreateNode() {
        debugger;
        var id = $("#id").val();
        if (isNaN(parseInt(id))) {
            return;
        }
        var check;
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckNode", "Home")',
            data: {id:id},
            dataType: 'json',
            success: function (data) {
                check = data;
                if (data) {
                    
                    alert('Node id already exist');
                    return;
                }
                else {
                    var age = $("#Age").val();
                    var name = $("#Name").val();
                    var gender = $("#Gender").val();
                    if (isNaN(parseInt(id)) && isNaN(parseInt(age)) && name == "" && gender == "") {
                        return;
                    }
                    $('#create').prop('disabled', true);
                    var Person = { id: parseInt(id), Name: name, Age: parseInt(age), Gender: gender };
                    var newUrl = '@Url.Action("Xml","Home")';
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InsertNode", "Home")',
                        data: Person,
                        dataType: 'json',
                        success: function (data) {
                            alert("inserted");
                            window.location.href = newUrl;
                        },
                        Error: function () {
                            alert("Error");
                        }
                    });
                }
            },
            Error: function () {
                alert("Error");
            }
        });
        

    }
</script>