@using Entities.Models;
@model Person

<form id="testForm" method="post">
    <fieldset>
        <legend>Please Write Node Value</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.id)
            @Html.ValidationMessageFor(model => model.id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>
<script type="text/javascript">
    $("#testForm").submit(function () {
        debugger;
        var person = { id: parseInt($("#id").val()), Name: $("#Name").val(), Age: parseInt($("#Age").val()), Gender: $("#Gender").val() };
        $.ajax({
           type: "POST",
            url: '@Url.Action("Insert", "Home")',
            data: person,
            dataType: "json",
                    success: function (data) {
                       
                            alert("success");
                        

                    },
                    Error: function () {
                        alert("Error");
                    }
                });
       
    });
    //function InsertNode() {
    //  debugger
    //    $.ajax({
    //        url: "/Home/Insert",
    //        data: { id: $("#id").val(), Name: $("#Name").val(), Age: $("#Age").val(), Gender: $("#Gender").val() },
    //        contentType: "application/json;charset=utf-8",
    //        success: function (result) {
    //            if (result) {
    //                alert("success");
    //            }

    //        },
    //        Error: function () {
    //            alert("Error");
    //        }
    //    });
    //}
</script>